<% @page_title = "Login" %>
        <div class="row">
        	<div class="col-md-6 bg">
        	  <h1>Login here:</h1>
        		<%= form_tag(:action => 'attempt_login') do %>
        		<div class="row">
        		  <div class="col-md-8 col-md-offset-2">
        		    <div class="col-md-3"><%= label_tag(:email) %></div>
        		    <div class="col-md-8 col-md-offset-1"><%= text_field_tag(:email) %></div>
        		  </div>
        		</div>
        		<div class="row-fluid">
        		  <div class="col-md-8 col-md-offset-2">
        		    <div class="co-md-3"><%= label_tag(:password) %> </div>
        		    <div class="col-md-8 col-md-offset-1"><%= password_field_tag(:password) %></div>
        		  </div>
        		</div>
        		<div class="row-fluid">
        		  <div class="col-md-8 col-md-offset-2">
        		    <%= submit_tag("Log In", :class => "btn btn-inverse col-md-4 col-md-offset-5") %>
        		  </div>
        		</div>
        		<% end %>
        	</div>
        	<div class="col-md-4 col-md-offset-1 bg">
        	  <h1>New User?</h2>
            <div class="col-md-6col-md-offset-3"><%= link_to "Sign up here", {:controller => "users", :action => "index"}, :class=>"btn  btn-success btn-large col-md-12" %> <br clear="both"/><br/></div>

        	</div>

        </div>