<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:first_name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :is_admin, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :is_admin, :class => 'form-control' %>
    </div>
    <%=f.error_span(:is_admin) %>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :password, :class => 'form-control' %>
    </div>
    <%=f.error_span(:password) %>
  </div>
  <div class="form-group">
    <%= f.label :hashed_password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :hashed_password, :class => 'form-control' %>
    </div>
    <%=f.error_span(:hashed_password) %>
  </div>
  <div class="form-group">
    <%= f.label :salt, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :salt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:salt) %>
  </div>
  <div class="form-group">
    <%= f.label :address1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address1) %>
  </div>
  <div class="form-group">
    <%= f.label :address2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address2, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address2) %>
  </div>
  <div class="form-group">
    <%= f.label :address3, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address3, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address3) %>
  </div>
  <div class="form-group">
    <%= f.label :postcode, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :postcode, :class => 'form-control' %>
    </div>
    <%=f.error_span(:postcode) %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
