<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= @page_title || 'Page title if not set in controller @page_title' %> | page description</title>
    <meta name="description" content="<%= @page_description || "Meta Description if not set in controller @page_description" %>" />
    <meta name="keywords" content="<%= @page_keywords ||"Key,words,if,not,set,in,pagee,controller,@page_keywords" %>" />


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

  </head>
  <body>
  <div class="container">
  <%= yield %>
  </div>
  </body>
  </html>